*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 10px;
	color: black;
	background-color: white;
}

header{
	width: 100%;
	height: 100vh;
	position: relative;
}

a{
	text-decoration: none;
	color: inherit;
}

.menu-toggle{
	width: 5rem;
	height: 5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	z-index: 999;

}

.menu-toggle i,
.fa-times{
	font-size: 3.5rem;
}

.fa-times{
	display: none;
	cursor: pointer;
}

nav{
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	z-index: 1000;
	background-color: rgb(37, 37, 37);
	color: white;
}

.logo{
	width: 16rem;
	box-sizing: content-box;
	padding-left: 0rem;
}

.logo img{
	display: block;
	width: 100%;
}

nav ul{
	height: 8rem;
	list-style: none;
	display: flex;
	font-size: 1.6rem;
}

nav ul li{
	padding: 0.3rem;
	line-height: 8rem;
	transition: background-color .5s;
	margin-right: 1rem;
}

nav ul li:hover{
	background-color: rgba(0,0,0,.075);
}

.nav-right ul li:nth-last-child(1){
	border-left: 1px solid rgba(0,0,0,.075);
}

.nav-right ul li:last-child{
	border-right: none;
}

.nav-right i{
	margin-right: 1rem;
}

.nav-right i:first{
	margin-right: 0;
}

.main{
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.tone-1{
	background-color: rgb(0, 0, 0);
	height: 100vh;
	flex: 1;

}

.tone-1{
	background-color: #F2EDD7FF;
	height: 100vh;
	flex: 1;
}

.tone-2{
	background-color: #755139FF;
	height: 100vh;
	flex: 1;
	position: relative;
	z-index: 100;
}

.tone-2 img{
	width: 100%;
	position: absolute;
	top: 50%;
	left: -15rem;
	transition: translateY(-50%);
}

.product-info{
	display: flex;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.product-info h1{
	font-size: 5rem;
	font-family: fantasy;
	letter-spacing: 3px;
	margin-right: 3px;
	font-weight: 100;
	margin-bottom: 1rem;
	text-align: center;
}

.product-info p{
	font-size: 1.8rem;
	margin-bottom: 5rem;
}

.btn{
	display: flex;
	padding: 1.5rem;
	color: white;
	font-size: 1.7rem;
	font-weight: 900;
	transition: all .5s;
}

.info-btns{
	display: flex;
}

.discover-btn{
	background-color: gray;
}

.cart-btn{
	background-color: black;
}

.discover-btn:hover,
.cart-btn:hover{
	box-shadow: 3px 1rem 2rem rgb(167, 154, 97);
	transform: translateY(-0.4rem);
}


/*responsive*/

@media screen and (max-width: 1200px) {
	.tone-2 img{
		left: -8rem;
	}

	.product-info h1{
		font-size: 3.5rem;
		margin-bottom: 2rem;
	}

	.product-info p{
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.product-info h2{
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.btn{
		padding: 1.5rem;
		font-size: 1rem;
	}
}

@media screen and (max-width: 900px) {
	
	.logo{
		padding-left: 1.5rem;
	}

	nav ul{
		height: 5rem;
		font-size: 1.4rem;
	}

	nav ul li{
		padding: 0 1.5rem;
		line-height: 5rem;
	}
	
	.tone-2 img{
		left: -5rem;
	}
}

@media screen and (max-width: 600px) {
	
	.tone-2 img{
		left: -2.5rem;
	}

	.product-info p{
		font-size: 1.2rem;
	}

	.btn{
		padding: 1rem;
	}

	.nav{
		display: flex;
		border-bottom: none;
		flex-direction: column;
		width: 25rem;
		height: 100vh;
		background-color: black;
		justify-content: space-evenly;
		
		transition: transform .5s;
	}

	nav ul{
		height: initial;
		display: block;
		font-size: 2rem;
		text-align: center;
	}

	nav ul li{
		padding: 0;
		line-height: initial;
		margin-bottom: 2rem;
	}

	.logo{
		padding: 0;
	}

	.nav-right ul li,
	.nav-right ul li:nth-child(1){
		border: none;
	}

	.menu-toggle{
		display: flex;
	}

	.fa-times{
		display: block;
		position: absolute;
		top: 2rem;
		right: 2rem;
	}
}

.active{
	transition: translatex(0);
}

.overlay{
	position: absolute;
	width: 0;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	z-index: 998;
	opacity: 0;
	transition: opacity .5;
}

.overlay.menu-open{
	width: 100%;
	opacity: 1;
}

@media screen and (max-width: 400px){
	.tone-2 img{
		left: -1rem;
	}

	.product-info h1{
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.product-info p{
		font-size: 1rem;
		margin-bottom: 1rem;
	}

	.product-info h2{
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.btn{
		padding: 7rem;
		font-size: 8rem;
	}
}


/*over ons home pagina*/
.main2{
	position: relative;
	float: left;
	top: 57rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.tonee-1{
	float: right;
	width: 50%;
	height: 47.58rem;
	padding: 50px;
	background-color: grey;
	border-bottom-right-radius: 4rem;
	border-top-right-radius: 4rem;
	box-shadow: 4px 1rem 2rem rgb(179, 179, 179);
}

.tonee-2{
	float: left;
	width: 50%; 
	padding: 50px;
	background-color: grey;
	box-shadow: 0rem 2rem 2rem rgb(179, 179, 179);
	border-bottom-left-radius: 4rem;
	border-top-left-radius: 4rem;
}

.tonee-2 img{
	display: block;
	width: 100%;
}


/*over ons home tekst en knop*/
.about-tekst h1{
	font-size: 5rem;
	font-family: fraktur;
}

.about-tekst p{
	font-size: 1.5rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info-btns2{
	display: flex;
	padding: 1.5rem;
	color: white;
	font-size: 1.7rem;
	font-weight: 900;
	transition: all .9s;
}

.lmeer-btn{
	margin: 1.3rem;
}

.contact-btn{
	margin: 1.3rem;
}

.lmeer-btn:hover,
.contact-btn:hover{
	size: 2rem;
	transform: translateY(-0.2rem);
}


/*Onderin alle pagina`s*/
.bottom{
	position: relative;
	bottom: 0rem;
	background-color: black;
	color: burlywood;
	padding: 3rem;
	bottom: 1rem;
	top: 120rem;
	font-size: 1.3rem;
	height: 14rem;
}

.products{
	position: absolute;
	left: 4%;
	top: 3rem;
}

.contact{
	position: absolute;
	right: 70%;
	top: 3rem;
}

.legal{
	position: absolute;
	right: 50%;
	top: 3rem;
}

.logo-under{
	width: 16rem;
	box-sizing: content-box;
	position: absolute;
	right: 5rem;
	bottom: 3rem;
}

.logo-under img{
	display: block;
	width: 100%;
}










/*about us*/

.oo-alles{
	background-color: rgb(202, 202, 202);
	position: relative;
	display: block;
	float: left;
}

.oo-text{
	font-size: 2.5rem;
}


.t1 h1{
	margin-top: 3rem;
	float: initial;
	text-align: center;
	text-decoration: underline;
}

.t1 p{
	float: left;
	width: 50%;
	margin-left: 5rem;
	margin-bottom: 18rem;
}

.oo-text .about1{
	float: right;
	width: 50%;
	max-width: 350px;
	max-height: fit-content;
	margin-right: 5rem;
}


.t2{
	float: right;
	width: 50%;
	margin-right: 5rem;
	margin-top: 5rem;
	margin-bottom: 15rem;
}

.about2{
	float: left;
	width: 50%;
	max-width: 350px;
	max-height: fit-content;
	top: 0rem;
	margin-left: 5rem;
	margin-top: 5rem;
	margin-bottom: 15rem;
}


.t3{
	float: left;
	width: 50%;
	margin-left: 5rem;
	margin-top: 5rem;
	margin-bottom: 16rem;
}

.about3{
	float: right;
	width: 50%;
	max-width: 350px;
	max-height: fit-content;
	top: 0rem;
	margin-right: 5rem;
	margin-top: 5rem;
	margin-bottom: 16rem;
}

.line{
	text-decoration: underline;
}


/*Contact page*/

.over-onsy{
	margin-top: 4rem;
	font-size: 2rem;
	text-align: center;
}

input[type=text], select, textarea {
	width: 100%; 
	padding: 12px; 
	border: 1px solid gray; 
	border-radius: 4px; 
	box-sizing: border-box;
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical 
}


input[type=submit] {	
	background-color: #2d9431;	
	color: white;	
	padding: 12px 20px;	
	border: none;	
	border-radius: 4px;	
	cursor: pointer;
}


input[type=submit]:hover {	
	background-color: #0f5313;
}


.container {	border-radius: 5px;	background-color: #bebebe;
	padding: 20px;
}

.bottom1{
	position: relative;
	bottom: 0rem;
	background-color: black;
	color: burlywood;
	padding: 3rem;
	bottom: 1rem;
	top: 0rem;
	font-size: 1.3rem;
	height: 14rem;
}

.bgo{
	background-color: #bebebe;
}



/*shop page*/
  
.bgimg{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.5)), url('img/bkg.jpg');
	height: 100%;
	background-position: center;
	background-size: cover;
	position: relative;	
	color: white;	
	font-family: "Courier New", Courier, monospace;	
	font-size: 25px;
}

.topleft{	
	position: absolute;	top: 0;	left: 16px;
}

.bottomleft{	
	position: absolute;	
	bottom: 10rem;	
	left: 16px;
}

.middle{	
	position: absolute;	top: 50%;	left: 50%;	
	transform: translate(-50%, -50%);	
	text-align: center;
}

hr{	
	margin: auto;	width: 40%;
}

.bottom2{
	position: relative;
	bottom: 0rem;
	background-color: black;
	color: burlywood;
	padding: 3rem;
	bottom: 1rem;
	top: 0rem;
	font-size: 1.3rem;
	height: 14rem;
}
  